<template>
  <div>
    <NavBar />

    <div class="content row py-12">
      <div class="flex md12">
        <NuxtPage />
      </div>
    </div>
  </div>
</template>

<style>
.content {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
</style>
