<script setup>
definePageMeta({
  middleware: 'auth',
});

const item = ref({
  name: '',
  description: '',
  status: 'lost',
  address: '',
  date: new Date(),
});

const itemForm = ref();

const handleSubmit = async () => {
  if (itemForm.value.validate()) {
    const itemApi = useItemApi();
    await itemApi.create(item.value);
    await navigateTo('/items');
  }
};
</script>

<template>
  <div>
    <PageTitle>
      Add an item
      <template #right>
        <va-button round icon="chevron_left" color="info" to="/items">
          Back
        </va-button>
      </template>
    </PageTitle>

    <div>
      <va-card>
        <va-card-content>
          <va-form ref="itemForm" @validation="validation = $event" @submit.prevent="handleSubmit">
            <ItemForm
              v-model:status="item.status"
              v-model:address="item.address"
              v-model:name="item.name"
              v-model:description="item.description"
              v-model:date="item.date"
            />
          </va-form>
        </va-card-content>

        <va-card-actions>
          <va-button color="success" @click="handleSubmit">
            Create an item
          </va-button>
        </va-card-actions>
      </va-card>
    </div>
  </div>
</template>
