<script setup>
definePageMeta({
  middleware: 'auth',
});

const itemApi = useItemApi();

const { data: items, pending, refresh } = await itemApi.all();

const remove = async (id) => {
  await itemApi.remove(id);
  refresh();
};

</script>

<template>
  <div>
    <PageTitle>
      My items
      <template #right>
        <va-button round icon="add" color="info" to="/items/create">
          Add an item
        </va-button>
      </template>
    </PageTitle>

    <div v-if="pending" class="row justify-center">
      <va-progress-circle indeterminate />
    </div>

    <div v-else>
      <ItemCard
        v-for="item in items"
        :id="item.id"
        :key="item.id"
        :name="item.name"
        :description="item.description"
        :status="item.status"
        :address="item.address"
        :date="item.date"
        @remove="remove"
      />

      <va-card v-if="items.length < 1">
        <va-card-content class="va-text-center">
          <div class="va-h4 my-5">
            No items have been found!
          </div>
          <div class="my-5">
            <va-button round icon="add" size="large" color="info" to="/items/create">
              Add an item
            </va-button>
          </div>
        </va-card-content>
      </va-card>
    </div>
  </div>
</template>
