<script setup>
</script>

<template>
  <div class="va-text-center">
    <h1 class="va-h1">
      Welcome to Troov!
    </h1>
    <div>
      <p><va-icon class="mr-2" name="search" size="4rem" /></p>
      <p class="va-h4 ma-5">
        Have you lost or found something?
      </p>
      <p class="ma-5">
        <va-button size="large" round to="/register">
          Get Started!
        </va-button>
      </p>
    </div>
  </div>
</template>
