<script setup>
import { useUserStore } from '~/stores/userStore';

const user = ref({
  email: '',
  password: '',
});

const showPassword = ref(false);
const showError = ref(false);
const loginForm = ref();
const errorMessage = ref('');
const userStore = useUserStore();

const handleSubmit = async () => {
  if (loginForm.value.validate()) {
    const userApi = useUserApi();

    const { data, error } = await userApi.login(user.value);
    if (!error.value) {
      // store user and token
      userStore.user = data.value.user;
      userStore.token = data.value.token;
      await navigateTo('/items');
    } else {
      errorMessage.value = error.value.data.message;
      showError.value = true;
    }
  }
};
</script>

<template>
  <div>
    <va-alert
      v-model="showError"
      color="danger"
      closeable
      close-icon="info"
      class="mb-4"
    >
      {{ errorMessage }}
    </va-alert>
    <div class="row justify-center">
      <va-card class="flex md6">
        <va-card-content>
          <h1 class="va-h3 va-text-center">
            Login
          </h1>
          <va-divider class="mb-5" />
          <div>
            <va-form ref="loginForm" @validation="validation = $event" @submit.prevent="handleSubmit">
              <va-input
                v-model="user.email"
                label="Email"
                outline
                class="block mb-5"
                style="width: 100%"
                :rules="[(value) => !!value || 'Your email is required.']"
              />

              <va-input
                v-model="user.password"
                label="Password"
                outline
                class="block mb-5"
                style="width: 100%"
                :type="showPassword ? 'text' : 'password'"
                :rules="[(value) => !!value || 'Your password is required.']"
              >
                <template #appendInner>
                  <va-icon
                    :name="showPassword ? 'visibility_off' : 'visibility'"
                    size="small"
                    color="--va-primary"
                    @click="showPassword = !showPassword"
                  />
                </template>
              </va-input>
            </va-form>
          </div>
        </va-card-content>
        <va-card-actions align="center">
          <va-button color="success" @click="handleSubmit">
            Login
          </va-button>
        </va-card-actions>
      </va-card>
    </div>
  </div>
</template>
