<script setup>
const user = ref({
  firstName: '',
  lastName: '',
  email: '',
  password: '',
});

const showPassword = ref(false);
const showError = ref(false);
const registerForm = ref();

const handleSubmit = async () => {
  if (registerForm.value.validate()) {
    const userApi = useUserApi();

    const { error } = await userApi.register(user.value);
    if (!error.value) {
      await navigateTo('/login');
    } else {
      showError.value = true;
    }
  }
};
</script>

<template>
  <div>
    <va-alert
      v-model="showError"
      color="danger"
      closeable
      close-icon="info"
      class="mb-4"
    >
      An error occcured while creating your account. Please try again later...
    </va-alert>
    <div class="row justify-center">
      <va-card class="flex md6">
        <va-card-content>
          <h1 class="va-h3 va-text-center">
            Create your account
          </h1>
          <va-divider class="mb-5" />
          <div>
            <va-form ref="registerForm" @validation="validation = $event" @submit.prevent="handleSubmit">
              <va-input
                v-model="user.firstName"
                label="First Name"
                outline
                class="block mb-5"
                style="width: 100%"
                :rules="[(value) => !!value || 'Your first name is required.']"
              />

              <va-input
                v-model="user.lastName"
                label="Last Name"
                outline
                class="block mb-5"
                style="width: 100%"
                :rules="[(value) => !!value || 'Your last name is required.']"
              />

              <va-input
                v-model="user.email"
                label="Email"
                outline
                class="block mb-5"
                style="width: 100%"
                :rules="[(value) => !!value || 'Your email is required.']"
              />

              <va-input
                v-model="user.password"
                label="Password"
                outline
                class="block mb-5"
                style="width: 100%"
                :type="showPassword ? 'text' : 'password'"
                :rules="[(value) => !!value || 'Your password is required.']"
              >
                <template #appendInner>
                  <va-icon
                    :name="showPassword ? 'visibility_off' : 'visibility'"
                    size="small"
                    color="--va-primary"
                    @click="showPassword = !showPassword"
                  />
                </template>
              </va-input>
            </va-form>
          </div>
        </va-card-content>
        <va-card-actions align="center">
          <va-button color="success" @click="handleSubmit">
            Register
          </va-button>
        </va-card-actions>
        <va-card-content class="va-text-center">
          <p>Do you already have an account?</p>
          <p>
            You can <NuxtLink to="/login">
              login
            </NuxtLink>
          </p>
        </va-card-content>
      </va-card>
    </div>
  </div>
</template>
