<script setup>
const props = defineProps({
  status: {
    type: String,
    default: '',
  },
});

const color = computed(() => {
  if (props.status === 'lost') {
    return 'warning';
  }
  return 'primary';
});

</script>

<template>
  <va-chip :color="color" size="small" class="va-text-uppercase">
    {{ status }}
  </va-chip>
</template>
