<script setup>
const props = defineProps({
  id: { type: String, default: '' },
  name: { type: String, default: '' },
  description: { type: String, default: '' },
  status: { type: String, default: '' },
  address: { type: String, default: '' },
  date: { type: String, default: '' },
});

const emit = defineEmits(['remove']);
const showRemoveConfirmation = ref(false);

const formattedDate = computed(() => {
  const date = new Date(props.date);
  return date.toLocaleDateString();
});

</script>
<template>
  <div>
    <va-card class="my-4">
      <div class="row md12">
        <div class="flex md1 align-self-center va-text-center">
          <ItemStatusChip :status="status" />
        </div>
        <div class="flex md9">
          <va-card-title class="pb-2">
            {{ name }} • {{ formattedDate }}
          </va-card-title>
          <va-card-content>
            <div class="py-2 va-text-secondary">
              {{ address }}
            </div>
            <div class="py-2">
              {{ description }}
            </div>
          </va-card-content>
        </div>
        <div class="flex md2 align-self-center">
          <va-card-actions align="right">
            <va-button icon="edit" color="info" round :to="`/items/${id}/edit`" />
            <va-button icon="delete" color="danger" round @click="showRemoveConfirmation = !showRemoveConfirmation" />
          </va-card-actions>
        </div>
      </div>
    </va-card>

    <va-modal
      v-model="showRemoveConfirmation"
      message="Are you sure you want to remove this item? This action is irreversible."
      title="Remove item?"
      @ok="() => emit('remove', id)"
    />
  </div>
</template>
