<script setup>
defineProps({
  name: { type: String, default: '' },
  description: { type: String, default: '' },
  status: { type: String, default: 'lost' },
  address: { type: String, default: '' },
  date: [Date, String],
});

const emit = defineEmits([
  'update:name',
  'update:description',
  'update:status',
  'update:address',
  'update:date',
]);

</script>

<template>
  <div>
    <va-select
      label="Status"
      :options="['lost', 'found']"
      outline
      class="block mb-5"
      style="width: 100%"
      :model-value="status"
      @update:model-value="(value) => emit('update:status', value)"
    />
    <va-input
      label="Where"
      placeholder="The place where you lost or found your item"
      outline
      class="block mb-5"
      style="width: 100%"
      :model-value="address"
      :rules="[(value) => !!value || 'The item location is required.']"
      @update:model-value="(value) => emit('update:address', value)"
    />
    <va-date-input
      label="When"
      placeholder="When did you lost or found your item?"
      outline
      class="block mb-5"
      style="width: 100%"
      :model-value="date"
      :rules="[(value) => !!value || 'The date is required.']"
      @update:model-value="(value) => emit('update:date', value)"
    />
    <va-input
      label="Name"
      placeholder="Describe your item with a few words"
      outline
      class="block mb-5"
      style="width: 100%"
      :model-value="name"
      :rules="[(value) => !!value || 'An item name is required.']"
      @update:model-value="(value) => emit('update:name', value)"
    />
    <va-input
      type="textarea"
      label="Full description"
      placeholder="Give us more details about your item"
      outline
      class="block mb-5"
      style="width: 100%;"
      :min-rows="10"
      :model-value="description"
      :rules="[(value) => !!value || 'An item description is required.']"
      @update:model-value="(value) => emit('update:description', value)"
    />
  </div>
</template>
