<script setup>
import { useUserStore } from '~/stores/userStore';

const userStore = useUserStore();
</script>

<template>
  <va-navbar color="#282F69">
    <template #left>
      <va-navbar-item>TROOV</va-navbar-item>
    </template>

    <template #right>
      <va-navbar-item>
        <va-button preset="plain" to="/" text-color="text-inverted">
          Home
        </va-button>
      </va-navbar-item>
      <va-navbar-item v-if="userStore.isAuthenticated">
        <va-button preset="plain" to="/items" text-color="text-inverted">
          My items
        </va-button>
      </va-navbar-item>
      <va-navbar-item v-if="userStore.isAuthenticated">
        <UserMenu />
      </va-navbar-item>
      <va-navbar-item v-if="!userStore.isAuthenticated">
        <va-button preset="plain" to="/register" text-color="text-inverted">
          Register
        </va-button>
      </va-navbar-item>
      <va-navbar-item v-if="!userStore.isAuthenticated">
        <va-button preset="plain" to="/login" text-color="text-inverted">
          Login
        </va-button>
      </va-navbar-item>
    </template>
  </va-navbar>
</template>
