<template>
  <div>
    <div class="row align-center">
      <div class="flex md9">
        <h1 class="va-h3">
          <slot />
        </h1>
      </div>
      <div class="flex md3 va-text-right">
        <slot name="right" />
      </div>
    </div>

    <va-divider class="mb-5" />
  </div>
</template>
