<script setup>
import { storeToRefs } from 'pinia';
import { useUserStore } from '~/stores/userStore';

const userStore = useUserStore();
const { user } = storeToRefs(userStore);

const fullName = computed(() => `${user.value?.firstName} ${user.value?.lastName}`);
const logout = async () => {
  userStore.logout();
  await navigateTo('/login');
};

</script>

<template>
  <va-button-dropdown preset="plain" text-color="text-inverted" placement="bottom-end" :offset="[10, 0]">
    <template #label>
      <va-icon name="account_circle" />
    </template>
    <va-list>
      <va-list-item>
        <va-list-item-section>
          <va-list-item-label>
            {{ fullName }}
          </va-list-item-label>
        </va-list-item-section>
      </va-list-item>
      <va-list-separator fit class="my-3" />
      <va-list-item>
        <va-list-item-section>
          <va-list-item-label>
            <va-button preset="plain" @click="logout()">
              Logout
            </va-button>
          </va-list-item-label>
        </va-list-item-section>
      </va-list-item>
    </va-list>
  </va-button-dropdown>
</template>
